.header_main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 0.3fr;
  background-color: lightgrey;
  height: 4rem;
  align-items: center;
  border: 1px solid var(--primary-color);
  margin: 10px;
}

.logo_main {
  grid-row: 1/1;
  grid-column: 1/2;
}

.button_main {
  grid-row: 1/1;
  grid-column: 2/-1;
}
